<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.APP_CALENDAR"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_26"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalendarIcon"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:enabled="true"
            android:icon="@drawable/i26" />
        <activity android:name=".ChangeActivity"
            android:exported="true"
            android:enabled="true"
            android:icon="@drawable/i26">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <activity android:name=".icons.LaunchActivity1" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_1"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity2" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_2"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity3" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_3"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity4" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_4"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity5" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_5"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity6" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_6"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity7" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_7"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity8" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_8"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity9" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_9"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity10" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_10"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity11" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_11"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity12" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_12"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity13" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_13"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity14" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_14"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity15" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_15"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity16" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_16"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity17" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_17"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity18" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_18"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity19" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_19"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity20" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_20"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity21" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_21"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity22" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_22"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity23" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_23"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity24" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_24"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity25" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_25"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity26" android:exported="true" android:enabled="true" android:icon="@mipmap/ic_launcher_26"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity27" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_27"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity28" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_28"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity29" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_29"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity30" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_30"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".icons.LaunchActivity31" android:exported="true" android:enabled="false" android:icon="@mipmap/ic_launcher_31"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiver" android:exported="false" />

    </application>

</manifest>